.profilePageWrapper {
    margin-top: 30px;
    a {
        display: inline-block;
        color: var(--white);
        i {
            font-size: 25px;
        }
    }
    label {
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
        input {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    form {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 15px;
        height: 50px;
        input {
            border: 0;
            padding: 10px;
        }
        p {
            font-size: 30px;
            color: var(--white);
        }
        i {
            margin-left: 20px;
            color: var(--white);
            cursor: pointer;
            padding: 5px;
            position: relative;
            top: 4px;
        }
        button {
            // margin-left: 10px;
            padding: 5px;
            border: 0;
            background-color: transparent;
            i {
                color: var(--white);
                font-size: 20px;
            }
        }

    }

    p {
       text-align: center;
       font-size: 18px;
       color: var(--white); 
    }

    .buttonWrapper {
        text-align: center;
        margin-top: 50px;
        .resetPassord {
            background-color: var(--btn-disabled-text);
            margin-right: 10px;
        }
        button {
            background-color: var(--danger);
            color: var(--white);
            padding: 12px;
            border: 0;
            font-size: 20px;
            border-radius: 4px;
        }
    }
}