.msgWrapper {
    box-shadow: 0 0 4px var(--success);
    padding: 10px;
    font-size: 18px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 200px;
    max-width: 500px;
    border: 2px solid;
    border-radius: 3px;
    color: var(--success);
    background-color: var(--white);
}

.error {
    box-shadow: 0 0 4px var(--danger);
    color: var(--danger);
}