.loginFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #686c76;
    padding: 50px;
    border-radius: 5px;
    .loginFormContainer {
        width: 360px;
        max-width: 360px;
        padding: 40px;
        background-color: var(--white);
        box-shadow: 0px 0px 3px #ffffff8c;
        border-radius: 5px;
        form {
            display: flex;
            flex-direction: column; 
            button {
                margin-top: 20px;
                box-shadow: 0 0 5px var(--box-shadow-color);
            }
        }

        p {
            margin-top: 10px;
            text-align: center;
            a {
                color: var(--light-black);
            }
        }
    }
}