.chatDashboard {
    display: flex;
    height: calc(100vh - 68px);
    color: var(--white);
    .chatListing {
        width: 400px;
        border-right: 1px solid #ffffff45;
        // box-shadow: 0 0px 2px #ffffff8c;
    }
    .chatSpace {
        width: 100%;
    }
}