.searchContainer {
    position: relative;
    input {
        padding: 8px;
        width: 100%;
        border: 5px solid #1a2238;
        border-radius: 8px;
    }
    i {
        cursor: pointer;
        padding: 8px;
        position: absolute;
        right: 6px;
        color: #111111;
        top: 6px;
    }
}

.userChatProfileListing {
    margin: 0;
    li {
        margin: 0;
        width: 100%;
        position: relative;
        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: 0;
            color: var(--white);
            width: 100%;
            padding: 10px;
            img {
                width: 40px;
                margin-right: 10px;
            }
            p {
                text-transform: capitalize;
            }
            .offlineIndicator {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #6c757d;
                position: absolute;
                bottom: 10px;
                left: 40px;
            }
            .onlineIndicator {
                background-color: #52cd6e;
            }
        }
        .selectedUser {
            background-color: #ffffff26;
        }


    }

}