.HeaderContainer {
    padding: 11px 20px;
    background-color: var(--white);
    box-shadow: 0 1px 2px #ffffff8c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-weight: 700;
        font-size: 20px;
        color: var(--theme-color);
        display: flex;
        align-content: center;
        i {
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .btnsWrapper {
        display: flex;
        align-items: center;
        a {
            img {
                width: 40px;
            }
            margin-right: 20px;
        }

        button {
            border: 0;
            background-color: transparent;
            display: flex;
            align-items: center;
            p {
                margin-right: 8px;
                font-weight: 700;
            }
            i {
                font-size: 23px;
            }
        }
    }
}