ul {
    margin-right: 50px;
    li {
        list-style-type: none;
        color: var(--white);
        margin-bottom: 10px;
        font-size: 20px;
        h2 {
            font-size: 40px;
        }
        span {
            color: green;
            margin-right: 5px;
        }
    }
}