.messagingContainer {
    .messages {
        height: calc(100vh - 180px);
        ul {
            margin: 0;
            overflow: auto;
            height: 100%;
            padding: 20px;
            /* width */
            &::-webkit-scrollbar {
                width: 5px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
            li {
                display: flex;
                img {
                    width: 40px;
                    margin-right: 10px;   
                }
                span {
                    color: var(--text-color1);
                    font-size: 12px;
                }
                p {
                    max-width: 500px;
                    background-color: #ffffff;
                    border-radius: 8px;
                    border-top-left-radius: 0;
                    color: #111111;
                    padding: 8px;
                    background-color: var(--btn-disabled-text);
                }
            }
            .displayMsgRightSide {
                justify-content: flex-end;
            }
        }
    }
    .messagingActions {
        padding: 5px;
        display: flex;
        input {
            width: 100%;
            border: 0;
            border-radius: 5px;
            margin-right: 5px;
            padding: 5px 5px 5px 10px;
        }
        button {
            padding: 10px;
            border: 0;
            border-radius: 5px;
            display: flex;
            align-items: center;
            background-color: var(--btn-disabled-text);
            p {
                margin-right: 8px;
                font-weight: 700;
            }
        }
    }
}

.connectWithUserContainer {
    height: calc(100vh - 68px);
    display: flex;
    align-items: center;
    justify-content: center;
    .connectWithUserWrapper {
        text-align: center;
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
        p {
            font-size: 20px;
            text-transform: capitalize;
        }
        button {
            margin-top: 20px;
            border-radius: 10px;
            border: 0;
            background-color: var(--btn-disabled-text);
            padding: 10px 15px;
        }
    }
}