.confirmationWrapper {
    p {
        font-size: 18px;
        text-align: center;
    }
    .buttonWrapper {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .danger {
            background-color: var(--danger);
        }
        button {
            margin-right: 5px;
            padding: 10px 20px;
        }
    }
}