.notFoundContainer {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    h1 {
        margin-bottom: 5px;
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    a {
        margin-top: 10px;
        color: var(--white);
    }
}