.userChattingContainer {
    // box-shadow: 0 0px 2px #ffffff8c;
    border-bottom: 1px solid #ffffff45;
    .userChattingHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        .userInfo {
            display: flex;
            align-items: center;
            position: relative;
            img {
                width: 40px;
                margin-right: 10px;
            }
            p {
              text-transform: capitalize;
            }
            .offlineIndicator {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #6c757d;
                position: absolute;
                bottom: 0px;
                left: 30px;
            }
            .onlineIndicator {
                background-color: #52cd6e;
            }
        }
        button {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 30px;
            border: 0;
            background-color: var(--btn-disabled-text);
            // color: var(--white); 
            i {
                margin-right: 8px;
                position: relative;
                top: -1px;
            }
            p {
              font-weight: 700; 
            }
        }
    }
}