.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #11111166;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .modalWrapper {
        padding: 30px;
        background-color: var(--white);
        border-radius: 5px;
        max-width: 600px;
        min-width: 400px;
    }
}